# Environment
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
*.egg-info/

# Virtual environments
.venv/
venv/

# Data
data/*.parquet
data/*.csv

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log
*.cache
functions/.env.yaml
